/* Estilos index.html */

p {
    font: 25px/30px "Comic Sans MS";
    margin-left: 30px;
    margin-right: 30px;
}

div#div1 {
    background-color: rgb(33, 162, 221);
    width: 70%;
    margin: 0 auto;
    box-shadow: grey 10px 10px 8px;
    border-radius: 30px 10px 70px 100px;
    padding: 40px 10px;
}

p.p1 {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 60px;
    text-shadow: rgb(124, 124, 221) 4px 4px 5px;
}

p.p2 {
    border-style: double;
    border-width: 3px; 
    border-color: rgb(238, 203, 203);
    /* border: 3px double grey; */


    padding: 20px;
    margin: 60px;
}

p.p3 {
    border: 20px solid transparent;
    border-image: url(border.png) 20 round;
}

h2 {
    text-align: center;
}

h2 a:hover {
    color: red;
    text-decoration: none;
}

