/* Resetear los valores de margin y padding */

* {margin: 0; padding: 0;}

/* Cambiar fuente, establecer ancho y centrar horizontalmente el elemento header */

header {
font-family: sans-serif;
width: 480px;
margin: 0 auto;}

/* Quitar los estilos de las lista ul */

ul {list-style: none;}

/* Estilos de los enlaces que irán dentro de nuestros items */

#menu li>a {
background-color: grey;
color: white;
text-decoration: none;}

/* Estilos de los enlaces que irán dentro de nuestros items */

#menu li>a {
    background-color: grey;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    min-width: 100px;
    }

/* Cambiar el color de fondo y letra cuando el mouse se ubique encima de nuestro enlace */

#menu li>a:hover{
color: black;
background-color: #eaeaea;
}

/* Cada item principal tendrá el texto centrado y utilizaremos la propiedad float con el
valor “left” para que los elemento se ubiquen de izquierda a derecha, quedando los items
secundarios (sublista) ubicados de arriba hacia abajo dado que no se ven afectados por la
propiedad float. */

#menu>li{
float: left;
text-align:center
}

/* Inicialmente no queremos que se muestre nuestra lista secundaria, sino que se muestre
al momento de colocar el mouse encima del item principal */

#menu>li>ul{
    display: none;
    }
    #menu>li:hover>ul {
    display:block;
    }