
h1 {
    text-align: center;
    font-family: "Bahnschrift";
    font-size: 30px;
    text-decoration: underline;
}

h2 {
    text-align: left;
    font-family: "Bahnschrift";
    font-size: 25px;
    margin-left: 80px;
}

p {
    margin-left: 80px;
    margin-right: 50px;
    text-align: left;
    font-family: "Arial"
}

img {
    margin-left: 100px;
  }

a {
    margin-left: 80px;
    margin-right: 50px;
    text-align: center;
    font-family: "Arial"
}
